@charset "UTF-8";

:root {
    --marrom-principal: #8E2424;
    --cor-paragrafo: #667085;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    margin: 30px 15px;
}

header .container .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #3A404E;
    font-size: 18px;
    font-weight: 500;
}

header .container .paginas {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
}

header .container .paginas li a {
    text-decoration: none;
    color: var(--cor-paragrafo);
}

header .container .botoes {
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
}

header .container .botoes .botao {
    text-decoration: none;
    color: var(--cor-paragrafo);
    border-radius: 8px;
    padding: 10px 18px;
}

header .container .botoes .cadastrar {
    background-color: var(--marrom-principal);
    color: white;
}

header .cabecalho {
    height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header .cabecalho span {
    color: var(--marrom-principal);
    font-weight: 600;
}

header .cabecalho h1 {
    font-size: 48px;
}

header .cabecalho p {
    color: var(--cor-paragrafo);
    max-width: 792px;
    text-align: center;
    font-size: 20px;
}